<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<!-- Bootstrapの設定 -->
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
	<title>ユーザーTOP</title>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<span class="navbar-toggler-icon"></span>
		<div class="collapse navbar-collapse justify-content-end" id="navbarNav4">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" th:href="@{home}">トップ<span class="sr-only"></span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{add}">ブログを書く</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{list}">ブログ一覧</a>
				</li>
				<li class="nav-item">
					<form role="form" id="logout" th:action="@{/logout}" method="post">
						<button type="submit" class="btn btn-outline-info">ログアウト</button>
					</form>
				</li>
			</ul>
		</div>
	</nav>
	<main class="container" th:object="${userDetailResult}">
		<div style="text-align: center;">
			<h3 th:text="'こんにちは！' + ${userDetailResult.nickName} + 'さん'"></h3>
			<img th:src=" 'data:' + ${userDetailResult.contentType} + ';base64,' + ${userDetailResult.image}"
				style="max-width:200px; border-radius: 50%; width:130px; height: 130px;">
			<p th:text="${userDetailResult.selfIntroducion}"></p>
			性別：<th:block th:text="${userDetailResult.sex}"></th:block>
			<hr>
		</div>
		<div class="row">
			<div class="col">
				<div
					class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
					<div class="col p-4 d-flex flex-column position-static">
						<a th:href="@{list}" class="btn btn-outline-secondary">自分のブログを一覧を見る</a>
					</div>
				</div>
			</div>
			<div class="col">
				<div
					class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
					<div class="col p-4 d-flex flex-column position-static">
						<a th:href="@{add}" class="btn btn-outline-success">ブログを書く</a>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>

</body>

</html>