<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
	<title>ログイン</title>
</head>

<body>
	<div class="container" style="text-align: center;">
		<h1 class="my-3">ログイン</h1>

		<!--ログインエラー時にメッセージを表示 -->
		<div th:if="${param.error}" class="alert alert-danger">
			名前またはパスワードが正しくありません
		</div>
		<!-- 		-->
		<form method="POST" th:action="@{/login}" class="form-signin">
			<div>
				<p>メールアドレス</p>
				<p><input type="text" name="email" /></p>
			</div>
			<div>
				<p>パスワード</p>
				<p><input type="password" name="password" /></p>
			</div>
			<div>
				<button class="btn btn-lg btn-primary btn-block" type="submit">ログイン</button>
			</div>
		</form>

	</div>

</body>

</html>